Databases/XMLBasics/Students/students.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:students" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="student">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" maxOccurs="1"/>
              <xs:element name="phone" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="course" type="xs:string" />
              <xs:element name="speciality" type="xs:string" />
              <xs:element name="facultynumber" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="informationforenrollment">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="date" type="xs:date" />
                          <xs:element name="examscore" type="xs:double" />
                        </xs:sequence>
                      </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="exam">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="tutor" type="xs:string" />
                    <xs:element name="score" type="xs:double" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="sex" type="xs:string" use="required" />
            <xs:attribute name="birth-date" type="xs:date" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="culture" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>